/* /** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}  
header{
    display: flex;
    background-color: rgba(0, 138, 170, 1);
    width: 100%;
    height: 96px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #ffffff;

}
.header-img{
    width: 320px;
    height: 55px;
}

.main_container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 1453px;
    padding: 60px 40px;
    gap: 70px;
}
h1 {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.adicionar-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    align-content: center;
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
input{
	border-radius: 20px;
    border: 3px solid #008AAA;
    padding: 10px;
    width: 392px  
}

.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.button-submit{
    background-color: #008AAA;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    width: 188px;
    border:solid 2px #008AAA;
}
.button-reset{
    background-color: #ffffff;
    color: #008AAA;
    padding: 10px 20px;
    border-radius: 8px ;
    width: 188px;
    border: solid 2px #008AAA;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(59, 186, 219, 1);
    color: #ffffff;
    width: calc(100% /4);
    margin: 10px;
    border-radius: 10px;
    border: 3px  solid rgba(0, 138, 170, 1);
    box-shadow: -5px 6px 3.3px 0px rgba(0, 0, 0, 0.25); 
    gap: 10px;  
}
.card:hover {
    background-color:rgba(59, 186, 219, 0.8);
}

.card-container--info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.delete-button{
    background-color:rgba(59, 186, 219, 0.8);
    border: none;   
}
.delete-button:hover{
    background-color:rgba(59, 186, 219, 0.8);
}
.card-container--value {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.card-container--info > p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.img-container{
    object-fit: contain;  
    height: 174px;
    width: 176px;
    border-radius: 8px;
    background-color: #ffffff;
}
.img-cont {
    height: 100%;
    width: 100%;

}

footer{
    display: flex;
    background-color: rgba(0, 138, 170, 1) ;
    padding: 22px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px ;
    gap: 10px;
    flex-direction: column;
}

@media (max-width: 425px) { 
    header{
        width: auto;
        padding: 20px 0px;
    }
    .header-img{
        width: 236px;
        height: auto;       
    }

    .main_container{
        display: flex;
        flex-direction: column-reverse;
        width: 430px;
        height: auto;
        flex-wrap: wrap;
        padding: 10px;
              
    }
    .form-container{ 
        display: flex;
        width: 430px;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 40px;
    }

    .adicionar-titulo{ 
       width: 350px;
       height: 31px;
       align-self: stretch;
       text-align: center;
       font-size: 24px;
       font-style: normal;
       font-weight: 400;
       line-height: normal;
    }

    .titulo-produtos{
        width: 350px;
    }
    .products-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        align-content: center;
    }  
    
    .card{
        display: flex;
        width: 180px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;   
    } 
    .img-container{
        object-fit: contain;  
        height: 174px;
        width: 176px;
        border-radius: 8px;
        background-color: #ffffff;
    }
    .img-cont {
        height: 100%;
        width: 100%;
    
    }  
}        

@media (max-width: 768px) { 
    .header{
        width: 768px;
    }
    .main_container{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
        height: auto;       
    }
    .adicionar-titulo{
       width: 50%;
       height: auto;
       font-size: 24px;
       font-weight: 400;
       text-align: center;
       line-height: normal; 
    }

    .form-container{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 40px;
    }
    h1 {
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } 
    .products-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
       
    }  
    
}
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4B0082; /* Cor principal roxa */
    --secondary-color: #551A8B; /* Cor secundária roxa mais clara */
    --white: #ffffff;
    --black: #000000;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Press Start 2P", cursive; /* Fonte estilo pixel art */
    width: 100%;
    background-color: #f0f0f0; /* Cor de fundo clara */
    color: var(--black);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 96px;
    padding: 30px;
    color: var(--white);
}

.header-img {
    width: 320px;
    height: 55px;
}

.main_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 70px;
    padding: 60px 40px;
    width: 100%;
    max-width: 1453px;
    margin: 0 auto;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.adicionar-titulo {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #fff; /* Fundo branco para os produtos */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    background-color: #fff; /* Fundo branco para o formulário */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

input {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 392px;
    margin: 0 auto;
    font-family: "Press Start 2P", cursive; /* Fonte estilo pixel art */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    border-radius: 8px;
    width: 188px;
    border: 2px solid var(--primary-color);
    text-align: center;
    font-family: "Press Start 2P", cursive; /* Fonte estilo pixel art */
}

.button-submit {
    background-color: var(--primary-color);
    color: var(--white);
}

.button-reset {
    background-color: var(--white);
    color: var(--primary-color);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--white);
    width: calc(100% / 3 - 20px);
    margin: 10px;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    box-shadow: -5px 6px 3.3px 0px rgba(0, 0, 0, 0.25);
    gap: 10px;
}

.card:hover {
    background-color: rgba(59, 186, 219, 0.8);
}

.card-container--info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.delete-button {
    background-color: rgba(59, 186, 219, 0.8);
    border: none;
}

.delete-button:hover {
    background-color: rgba(59, 186, 219, 0.8);
}

.card-container--value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-container--info > p {
    font-size: 15px;
}

.img-container {
    object-fit: contain;
    height: 174px;
    width: 176px;
    border-radius: 8px;
    background-color: var(--white);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 22px;
    color: var(--white);
    font-size: 18px;
    gap: 10px;
}

/* Mobile Styles */
@media (max-width: 425px) {
    .main_container {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .form-container {
        padding: 40px;
        align-items: center;
    }

    .adicionar-titulo, .titulo-produtos {
        font-size: 24px;
        text-align: center;
    }

    .products-container {
        flex-direction: column;
        padding: 10px;
    }

    .card {
        width: 180px;
        padding: 10px;
    }
}

/* Tablet Styles */
@media (max-width: 768px) {
    .main_container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .adicionar-titulo {
        font-size: 24px;
    }

    .form-container {
        padding: 20px;
        align-items: center;
    }

    h1 {
        font-size: 24px;
    }

    .products-container {
        flex-direction: row;
        width: 100%;
    }
}
